.container{
    border:1px solid black;
    display:flex;
    height:960px;
    width:960px;
    flex-direction: column;
}
.line {
display: flex;
flex-grow:1;
}
.cell{
    flex-grow:1;
}
.cell.activated{
    background-color: black;
}